 {% extends "base.html" %}
 {% block container %}
 <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-cog"></i> settings</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>icon</th>
                  <th>name</th>
                  <th>link</th>
                </tr>
              </thead>
              <!--<tfoot>-->
                <!--<tr>-->
                  <!--<th>icon</th>-->
                  <!--<th>name</th>-->
                  <!--<th>link</th>-->
                <!--</tr>-->
              <!--</tfoot>-->
              <tbody>
              {% for item in dbroot['navbarResponsive']%}
                <tr>
                      <td><i class="{{ item.get('i','')}}"></i></td>
                      <td>{{item['title']}}</td>
                      <td>{{item['link']}}</td>
                </tr>
              {% end %}
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
 {% end %}